/* start variables */
:root {
    --main-color: #19c8fa; 
    --transparent-color: rgb(15 116 143 / 70%);
    --paragraph-color: #777;
    --section-padding: 100px;
}
/* end variables */
/* start componennts  */
.main-heading h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 70px;
    text-transform: uppercase;
    position: relative;
}
.main-heading p {
    color: var(--paragraph-color);
    width: 550px;
    max-width: 100%;
    margin: 0px auto 100px;
    text-align: center;
    line-height: 2;
}
.main-heading h2::before {
    content: "";
    background-color: #333;
    width: 120px;
    height: 2px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
} 
.main-heading h2::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    bottom: -37px;
    right: 50%;
    transform: translateX(50%);
    border: #333 solid 2px;
} 
/* end components  */
/* start glopal rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* end glopal rules  */

/* start header */
.header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
.header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0px;
}
.header .container .logo img {
    height: 40px;
}
.header .container nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
.header .container nav ul {
    display: flex;
    flex-wrap: nowrap;
}
@media (max-width: 768px) {
    .header .container nav ul {
        display: none;
    }
}
.header .container nav ul a{
    color: white;
    display: block;
    font-size: 14px;
    transition: .3s;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}
.header .container nav ul a.active,
.header .container nav ul a:hover {
    color: var(--main-color);
    border-bottom:  solid  1px var(--main-color);
}
.header .container nav .form i{
    color: white;
    font-size: 20px;
    padding-left: 20px;

}
.header .container nav .form {
    border-left: 1px white solid;
    margin-left: 30px;
}
.header .container nav .toggle-menu {
    color: white;
    font-size: 20px;
}
@media (min-width: 768px) {
    .header .container nav .toggle-menu {
        display: none;
    }
}
.header .container nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    padding-left: 10px;
    background-color: rgb(0 0 0 / 50%);
}
.header .container nav .toggle-menu:hover + ul a {
    padding: 15px 10px;
}
/* end header */
/* start landing */
.landing {
    min-height: 100vh;
    background-image: url(../imgs/landing.jpg);
    background-size: cover;
    background-color: #1f2021;
    position: relative;
}
.landing .overlay {
    background-color: rgb(0 0 0 / 50%) ;
    width: 100%;
    height: 100%;
    position: absolute;
}
.landing .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}
@media (max-width:768px) {
    .landing .text {
        width: 100%;
    }
}
.landing .text .content {
    max-width: 500px;
}
.landing .text .content h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.landing .text .content p {
    line-height: 2;
    font-size: 14px;
}
.landing .arrow {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
} 
.landing .fa-angle-left {
    left: 30px ;
}
.landing .fa-angle-right {
    right: 30px ;
}
@media (max-width:768px) {
    .landing .arrow {
        display: none;
    }
}
.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px white solid;
    border-radius: 50%;
    margin-right: 10px;
}
.landing .bullets li.active {
    background-color: var(--main-color);
}
/* end landing  */
/* start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .serv-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services .serv-items .item .text h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}
.services .serv-items .item .text p {
    color: var(--paragraph-color);
    line-height: 2;
}
.services .serv-items .item {
    max-width: 550px;
    display: flex;
    margin-bottom: 50px;
}
@media (max-width:768px) {
    .services .serv-items .item {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width:768px) {
    .services .serv-items .item {
        flex-direction: column;
        text-align: center;
    }
}
.services .serv-items .item i {
    margin-right: 40px;
}
@media (max-width:768px) {
    .services .serv-items .item i {
        margin: 0 auto 30px;
    }
}
/* end services */
/* start design  */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imgs/design-features.jpg);
    background-size: cover;
    display: flex;
    position: relative;
    height: 600px;
    align-items: center;
    overflow: hidden;
}

.design .overlay {
    background-color: rgb(0 0 0 / 50%) ;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.design .text {
    background-color: var(--transparent-color);
    z-index: 2;
    padding: 50px;
    color: white;
    flex-grow: 1;
    position: relative;
}
.design .text h2 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 1.6;
}
.design .text ul li {
    padding: 15px 0;
}
.design .text li::before {
    font-family: 'font awesome 5 free';
    content: "\f108";
    font-weight: 900;
    margin-right: 15px;
}
.design .image {
    z-index: 2;
    position: relative;
    flex-grow: 1;
    text-align: center;
}
.design .image img {
    position: relative;
    bottom: -140px;
}
@media (max-width:768px) {
    .design .image {
        display: none;
    }
}
/* end design  */
/* start portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li {
    padding: 10px;
}
.portfolio .shuffle li {
    padding: 10px;
}
.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}
.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .imgs-container .card {
    position: relative;
    overflow: hidden;
}
.portfolio .imgs-container .card:hover .caption {
    bottom: 0;
}
.portfolio .imgs-container .card:hover img{
    transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
    .portfolio .imgs-container .card {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .portfolio .imgs-container .card {
        flex-basis: 25%;
    }
}
.portfolio .imgs-container .card img {
    max-width: 100%;
    transition: .3s;
}
.portfolio .imgs-container .card .caption {
    position: absolute;
    padding: 15px;
    width: 100%;
    left: 0;
    bottom: -100%;
    background-color: white;
    transition: .3s;
}
.portfolio .imgs-container .card .caption h4 {
    font-weight: 600;
    margin-bottom: 10px;
}
.portfolio .imgs-container .card .caption p {
    color: var(--main-color);
}
.portfolio .more {
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
}
/* end porfoilio  */
/* start video */
.video {
    position: relative;
}
.video::before {
    content: "";
    background-color: rgb(0 0 0 / 50%) ;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
} 
.video video {
    width: 100%;
}
.video .text {
    position: absolute;
    background-color: var(--transparent-color);
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    padding: 50px;
}
@media (max-width:768px) {
    .video .text {
        width: 60%;
        font-size: 12px;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.video .text h2 {
    font-weight: 400;
    margin-bottom: 30px;
}
.video .text p {
    margin-bottom: 30px;
}
.video .text button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
}
/* end video  */
/* start about */
.about {
    padding-top: var(--section-padding);
    text-align: center;
    overflow: hidden;
}
.about img {
    position: relative;
    margin-top: -120px;
    bottom: -120px;
    max-width: 100%
}
@media (max-width:768px) {
    .about img {
        margin-top: -60px;
        bottom: -60px;
    }
}
/* end about  */
/* start stats */
.stats {
    background-image: url(../imgs/stats.png);
    position: relative;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.stats::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgb(0 0 0 / 70%);
}
.stats .container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.stats .container .item {
    display: flex;
    padding: 50px;
    color: white;
    background-color: var(--transparent-color);
    flex-direction: column;
    flex: 1;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
}
@media (min-width:768px) {
    .stats .container .item {
        flex-basis: 50%;
    } 
}
@media (max-width:768px) {
    .stats .container .item {
        padding: 30px 50px;
    } 
}

.stats .item i {
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stats .item h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 auto 15px;
}
/* end stats */
/* start our skills */
.ourskills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.ourskills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width:992px) {
    .ourskills .container > div {
        flex-basis: 45%;
    }
}
.ourskills .testimonials {
    text-align: center;
}
.ourskills .testimonials h3{
    font-weight: 400;
    margin: 0 0 30px 0;
    font-size: 24px;
    text-transform: uppercase;
}
.ourskills .testimonials p {
    color: #777;
    line-height: 2;
    margin-bottom: 60px;
}
.ourskills .testimonials .content {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
@media (max-width:768px) {
    .ourskills .testimonials .content {
        flex-direction: column;
    } 
}
.ourskills .testimonials .content img {
    border-radius: 50%;
    width: 100px;
    margin-right: 40px;
}
@media (max-width:768px) {
    .ourskills .testimonials .content img {
        margin: 0 0 25px 0  ;
    }
}
.ourskills .testimonials .content .text p {
    color: black;
    text-align: left;
    margin: 0 0 15px 0;
}
@media (max-width:768px) {
    .ourskills .testimonials .content .text p {
        text-align: center;
    }
}
.ourskills .testimonials .content .text h5 {
    text-align: right;
    color: #777;
    font-weight: 500;
}
.ourskills .testimonials .content .text {
    padding-bottom: 20px;
    border-bottom: solid 1px #ccc;
}
.ourskills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.ourskills .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 5px;
}
.ourskills .testimonials .bullets li.active {
    border-color:  var(--main-color);
    background-color: var(--main-color);
}
.ourskills .skills {
    text-align: center;
}
.ourskills .skills h3{
    font-weight: 400;
    margin: 0 0 30px 0;
    font-size: 24px;
    text-transform: uppercase;
}
.ourskills .skills p {
    color: #777;
    line-height: 2;
    margin-bottom: 60px;
}
.ourskills .prg-holder {
margin-bottom: 40px;
}
.ourskills .prg-holder h4{
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: left;
    font-weight: 400;
}
.ourskills .prg-holder .prog {
    height: 30px;
    background-color: #dedadc;
}
.ourskills .prg-holder .prog span {
    background-color: var(--main-color);
    display: block;
    height: 100%;
    position: relative;
}
.ourskills .prg-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    width: 40px;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 4px 0;
    right: -18px;
    top: -40px;
    text-align: center;
}
.ourskills .prg-holder .prog span::after {
    content: "";
    position: absolute;
    border: 10px solid black;
    border-color: black transparent transparent;
    right: -9px;
    top: -15px;
}
/* end our skills */
/* start quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imgs/quote.jpg);
    background-size: cover ;
    position: relative;
    color: white;
    text-align: center;
}
.quote .container{
    position: relative;
}
.quote::before {
    content: "";
    background-color: rgb(0 0 0 / 75%) ;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.quote q {
    display: block;
    font-size: 30px;
    margin-bottom: 25px;
}
@media (max-width:768px) {
    .quote q {
        font-size: 20px;
    }
    .quote {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
/* end quote */
/* start pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 30px;
}
.pricing .plans .plan {
    background-color: #fcfcfc;
    text-align: center;
}
.pricing .plans .plan .head {
    padding: 40px 20px;
    border-bottom: solid 1px var(--main-color);
    border-top: solid 1px var(--main-color);
} 
.pricing .plans .plan .head h3 {
    font-weight: 400;
    margin-bottom: 20px;
}
.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: 700;
}
.pricing .plans .plan .head span::before {
    content: "$";
    position: relative;
    font-size: 30px;
    font-weight: 400;
    left: -12px;
    top: -40px;
}
.pricing .plans .plan .head span::after {
    content: "/mo";
    font-size: 20px;
    font-weight: 400;
    position: relative;
    right: -10px;}
.pricing .plans .plan ul {
    border-bottom: solid 1px var(--main-color);
}
.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    background-color: var(--main-color);
    height: 1px;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.pricing .plans .plan .foot a {
    color: black;
    font-size: 20px;
    padding: 15px 10px;
    border: solid 1px var(--main-color);
    margin: 20px auto;
    display: block;
    width: fit-content;
}
.pricing p {
    text-align: center;
    padding: 40px;
    font-size: 20px;
}
.pricing p + a {
    color: white;
    font-size: 20px;
    padding: 15px 10px;
    background-color: var(--main-color);
    margin: 20px auto;
    display: block;
    width: fit-content;
}
/* end pricing */
/* start subscribe */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imgs/subscribe.jpg);
    background-size: cover;
    position: relative;
}
.subscribe::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgb(0 0 0 / 70%)
}
.subscribe .container {
    display: flex;
    position: relative;
    color: white;
    text-align: center;
    align-items: center;
}
@media (max-width:992px) {
    .subscribe .container {
        flex-direction: column;
    }
}
.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}
@media (max-width:992px) {
    .subscribe .container p {
        margin: 40px 0 0 0 ;
    }
}
.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 25px;
}
.subscribe form input[type=email] {
    background: none;
    padding: 20px 20px 20px 60px;
    width: calc(100% - 130px);
    border: 1px white solid;
    border-right: none;
    color: white;
    caret-color: var(--main-color);
}
.subscribe form input[type=submit] {
    background-color: var(--main-color);
    border: white solid 1px;
    border-left: none;
    color: white;
    padding: 10px 15px;
    width: 130px;
}
.subscribe p {
    margin-left: 50px;
    line-height: 1.8;
}
/* end subscribe */
/* start contactus */
.contact-us {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact-us .content {
    display: flex;
    justify-content: space-between;
}
@media (max-width:768px) {
    .contact-us .content {
        flex-direction: column;
    }
}
.contact-us form {
    flex-basis: 70% ;
}

.contact-us form .main-input {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    display: block;
    padding: 20px;
}
.contact-us form textarea.main-input {
    height: 200px;
}
.contact-us form .main-input:focus {
    outline: none;
}
.contact-us form input[type=submit] {
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 20px;
    display: block;
    margin-left: auto;
    cursor: pointer;
}
.contact-us .info {
    flex-basis: 25%;
}
@media (max-width:768px) {
    .contact-us .info {
        order: -1;
        text-align: center;
        margin-bottom: 20px;
    }
}
.contact-us .info h4 { 
    margin: 0 0 20px 10px;
    font-weight: 500;
    font-size: 18px;
}
.contact-us .info h4:nth-of-type(2) {
    margin-top: 80px;
}
.contact-us .info span {
    display: block;
    margin-bottom: 10px;
    color: #777;
}
.contact-us .info address {
    color: #777;
    line-height: 1.8;
}
/* end contactus */
/* start footer */
.footer {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imgs/subscribe.jpg);
    background-size: cover;
    position: relative;
}
.footer::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgb(0 0 0 / 70%)
}
.footer .container {
    color: white;
    position: relative;
    text-align: center;
}
.footer .container img {
    margin-bottom: 20px;
}
.footer .container p:not(.copyright) {
    padding: 20px;
    font-size: 22px;
    border-bottom: 1px solid;
    width: fit-content;
    margin: 20px auto;
}
.footer .container .social-icons i {
    padding: 10px 15px;
}
.footer .container .copyright {
    margin-top: 60px;
}
.footer .container .copyright a {
    color: var(--main-color);
}
/* end footer */